---
layout: default
---

<article class="post">
  
  <h1>{{ page.title }}</h1>
  
  {% if page.image %}
    <img src="{{ page.image }}"
         alt="{{ page.image_alt }}"
         class="post__img">
  {% endif %}

  <div class="entry">

    <div class="ad__top">
    <!-- Broomball - Top Article Ad -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:250px"
         data-ad-client="ca-pub-7411822855484586"
         data-ad-slot="7317432950"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </span>
    
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
